*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body{
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #666566;
    color: #fff;

}
.container{
    border: 0.5px solid #fff;
    border-radius: 10px;
    padding: 28px 32px;
    display: flex;
    flex-direction: column;
    background: transparent;
    box-shadow: 8px 8px 4px #909090, 8px 8px 0px
    #575757;
}
.container h{
    font-size: 1.4rem;
    margin-block: 8px;
}
.passbox{
    /* background-color:; */
    border: none;
    outline: none;
    padding: 10px;
    width: 300px;
    border-radius: 4px;
    font-size: 20px;
    margin-block:8px ;
}
.row{
    display: flex;
    margin-block:8px ;

}
.row p,.row label{
    flex-basis: 100%;
    font-size: 18px;
}
.row input[type="checkbox"]{
    width: 20px;
    height: 20px;

   } 
   .genBtn{
    border: none;
    outline: none;
    background-color: #2c6192;
    padding: 12px 24px;
    color: #fff;
    font-size: 18px;
    margin-block:8px ;
    font-weight: 700;
    cursor: pointer;
    border-radius: 4px;
   }
   .genBtn:hover{
    background-color: #0066ff;
   }
